* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 22.66%,
      rgba(0, 0, 0, 0.54) 100%
    ),
    url("./assets/background.png") no-repeat center center rgba(0, 0, 0, 0.889);
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.6rem;
}

main {
  max-width: 39rem;
  max-height: 88rem;
  padding: 3.5rem;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.9rem;
  gap: 1.1rem;
}

.title-header h1 {
  font-family: "Sora", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.title-header img {
  width: 3.4rem;
  height: 3.4rem;
}

header p {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  background: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.8rem;
}

header h2 {
  font-family: "Sora", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.explanation h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.explanation p {
  color: #d9d9d9;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 3rem;
}

.inputs-row {
  display: flex;
  gap: 1rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

fieldset label {
  color: #c7c9cc;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.inputs-row {
  margin-bottom: 1.5rem;
}

.inputs-row fieldset input {
  width: 100%;
  height: 6rem;
  display: flex;
  padding: 0.25rem 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid #111012;
  background: #111012;
  outline: none;

  color: #fff;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 3.1rem;
  font-weight: 700;
}

.inputs-row fieldset input:hover {
  border-radius: 0.8rem;
  border: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      #77c0af,
      #d1dc97,
      #e9a9b3,
      #d586e0,
      #91a1fa
    )
    1;
  background: #24222e;
}

.inputs-row fieldset input:focus {
  border-radius: 0.8rem;
  border: 2px solid transparent;
  border-image: linear-gradient(
      to right,
      #77c0af,
      #d1dc97,
      #e9a9b3,
      #d586e0,
      #91a1fa
    )
    1;
  background: #24222e;
}

#repeat {
  display: flex;
}

#repeat p {
  margin-left: 8px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: center;
  height: 18px;
  padding-top: 6px;
}

#switch {
  position: relative;
  width: 3.5rem;
  margin-bottom: 4rem;
}

#switch button {
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border: none;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.06));
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin: 0 3px;
  cursor: pointer;
}

#switch span {
  display: block;
  width: 3.5rem;
  height: 2.1rem;
  padding: 1rem;
  border-radius: 1.6rem;
  background: linear-gradient(91deg, #d586e0 0%, #91a1fa 98.93%);
}

#switch button.deactivated {
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border: none;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.06));
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin: 0 3px;
  cursor: pointer;
}

#switch span.deactivated {
  display: block;
  width: 3.5rem;
  height: 2.1rem;
  padding: 1rem;
  border-radius: 1.6rem;
  background: #d9d9d9;
}

button.raffle {
  display: flex;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: #24222e;
  color: #fff;
  text-align: center;
  cursor: pointer;

  font-family: "Roboto Flex";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

button.raffle:hover {
  border-radius: 0.8rem;
  border: 1.6px solid transparent;
  border-image: linear-gradient(
      to right,
      #77c0af,
      #d1dc97,
      #e9a9b3,
      #d586e0,
      #91a1fa
    )
    1;
  background: #24222e;
}

.result {
  display: flex;
  max-width: 39rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result h4 {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.result p {
  color: #c7c9cc;
  font-family: "Roboto Mono";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.result span {
  color: #c58de7;
  font-family: "Roboto Mono";
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;

  padding: 1.8rem 2.2rem;
  margin-bottom: 4rem;
}

.result button {
  display: flex;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: #24222e;
  color: #fff;
  text-align: center;
  cursor: pointer;

  font-family: "Roboto Flex";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.result button:hover {
  border-radius: 0.8rem;
  border: 1.6px solid transparent;
  border-image: linear-gradient(
      to right,
      #77c0af,
      #d1dc97,
      #e9a9b3,
      #d586e0,
      #91a1fa
    )
    1;
  background: #24222e;
}

aside .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #c58de7;
  font-family: "Roboto Flex";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}

aside .explanation p {
  color: #c7c9cc;
  font-family: "Roboto Flex";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
  margin-left: 30px;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    max-width: 100rem;
    column-gap: 10rem;
  }

  .title-header {
    justify-content: flex-start;
    margin-bottom: 9rem;
  }

  header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  header h2 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: -2.88px;
    min-width: 40rem;
  }

  form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    min-width: 42rem;
    margin-top: 13rem;
  }

  .result {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    min-width: 42rem;
    margin-top: 15rem;
  }

  aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    min-width: 40rem;
    max-width: 10rem;
  }
}
